[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nautilus /home/ukasz09/dev/GitHub
Name=Dev_GitHub
Comment=Shortcut for GitHub dev folder.
Icon=/home/ukasz09/.icons/Papirus-Dark/64x64/places/folder-violet-github.svg
