[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/ukasz09/shortcuts/run_onedrive.sh
Name=Onedrive
Comment=Shortcut for Onedrive folder.
Icon=/home/ukasz09/.icons/Papirus-Dark/64x64/places/folder-violet-onedrive.svg
